*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body{
  /* background: #fff; */
  background-image:url('img/cowboy.png');
}
.container{
  width: 100%;
  height: 100%;
  
}

.menu{
  background-color: #D8D0B7;
}

.menu ul{ 
  display:inline-flex;
  margin: 30px;
}

.menu li{
  display:inline-flex;
  margin: 0 20px;
}
.menu li a{
  font-family: 'Sriracha', cursive;
  text-decoration: none;
  color: #1B1F3A;
  cursor: pointer;
  font-size: 25px;
  font-weight: border;
}
.menu li a:hover{
  color: #19dafa !important;
}


.logo img{
  height: 40px;
  margin-top:-7px;
  margin-right: 48px;
}



.signup-btn{
  top:20px;
  right:80px;
  position: absolute;
  text-decoration: none;
  color:#33ccff;
  border: 2px solid transparent;
  border-radius: 20px;
  background-image: linear-gradient(#1B1F3A, #1B1F3A), radial-gradient(circle at top left, #1B1F3A, #1B1F3A);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.signup-btn span{
  font-family: 'Sriracha', cursive;
  display: block;
  padding: 9px 22px;
  color:#D8D0B7;
}

.banner{
  width:50%;
  height: 100%;
  top:20%;
  left:130px;
  position: absolute;
  color:#D8D0B7;
  
}
.app-text{
  width:50%;
  float:left;
}
.app-text h1{
  font-family: 'Sriracha', cursive;
  font-size: 43px;
  width: 640px;
  position:relative;
  margin-left:40px;
}
.app-text p{
  width: 650px;
  font-size:15px;
  margin: 15px 0 30px 40px;
  line-height:25px;
  color: #919191;
}

.app-picture{
  right:0;
  bottom:0;
  width:50%;
  float:right;
  position:absolute;
}
.app-picture img{
  
  width: 100%;
  margin-top: -20px;
  margin-bottom: -50px;
  padding-right: 10px;
}

.play-btn{
  margin-left:45px;
  display:inline-flex;
}
.play-btn-inner{
  height: 50px;
  width: 50px;
  border: 2px solid transparent;
  border-radius: 50%;
  background-image: linear-gradient(#fff, #fff), radial-gradient(circle at top left, #fd00da, #19d7f8);
  background-origin: border-box;
  background-clip: content-box, border-box;
  text-align:center;
}


.play-btn-inner .fa{
  padding:18px 0;
  font-size: 13px;
  cursor: pointer;
}

small{
  margin: auto 20px;
  cursor:pointer;
  font-size:12px;
  color: #19dafa;
  letter-spacing: 3px;
}

.quick-links{
  left:0;
  bottom:0;
  width:10%;
  position: fixed;
  /* border: 2px solid transparent; */
  /* background-image: linear-gradient(), radial-gradient(circle at top left, #fd00da, #19d7f8); */
  /* background-origin: border-box; */
  /* background-clip: content-box, border-box; */
}
.quick-links ul{
  display: inline-block;
  text-align: center;

}
.quick-links ul li{
  list-style:none;
  /* margin: 50px; */
  margin: 20px 0 20px 20px;
  cursor: pointer;
} 
.quick-links ul li .fa{
  font-size:35px;
  color:#D8D0B7;
}
.quick-links ul li p{
  font-size:15px;
  color:#D8D0B7;
}

.social-icons{
  right:35px;
  bottom:35px;
  position:fixed;
}
.social-icons ul li{
  list-style: none;
  margin-top: 15px;
  text-align: center;
}
.social-icons ul li a{
  color: #fff;
  border-radius: 50%;
  border: 2px solid #fff;
  padding: 5px;
  display: block;
}